<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.prestamov4">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ActivityPrestamo.VerUnPrestamoActivity"></activity>
        <activity android:name=".ActivityPrestamo.AddPrestamoActivity" />
        <activity android:name=".ActivityCliente.EditClientActivity" />
        <activity android:name=".ActivityCliente.VerUnClienteActivity" />
        <activity android:name=".ActivityCliente.VerClientesActivity" />
        <activity android:name=".ActivityPrestamo.VerPrestamosActivity" />
        <activity android:name=".ActivityCliente.AddClientActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>